.ag-theme-alpine{
  font-family: var(--theme-code-font-family);
  color: var(--theme-foreground);
  height: 30rem;
  overflow: auto;
}

.ag-root-wrapper-body.ag-layout-normal {
  min-height: 30rem;
}


.grid_controls{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: .2rem;
}

.searchinput{
  min-width: 10rem;
  border-width: var(--theme-input-border-width);
  border-color: var(--theme-input-border-color);
  background-color: var(--theme-input-background);
  color: var(--theme-input-foreground);
  height: 1.5rem;
}

.searchinput:focus{
  outline-color: var(--theme-input-focus-border-color);
}

.ag-theme-alpine .ag-row-odd{
  filter: brightness(.96);
}

.vscode-dark .ag-theme-alpine .ag-row-odd{
  filter: brightness(1.2);
}

:root{
  --ag-foreground-color: var(--theme-foreground);
  --ag-background-color: var(--theme-background);

  --ag-header-background-color: var(--theme-notebook-cell-selected-background);
  --ag-header-foreground-color: var(--theme-foreground);
  --ag-header-column-resize-handle-color: var(--theme-input-border-color);


  --ag-row-background-color : var(--theme-background);
  --ag-data-color : var(--theme-foreground);
  --ag-odd-row-background-color: var(--theme-background);
  --ag-odd-row-foreground-color: var(--theme-foreground);
  --ag-selected-row-background-color: var(--theme-link-active);
  --ag-row-border-color: var(--theme-input-border-color);

  }